.App {
  text-align: center;
  background-color: #D1103A;
  width: 80%;
  margin: 0 auto;
}
h1{
  
    margin: 0;
    padding: 0;
  

}

.container{
  background-color: #EE1B49;
  min-height: 80vh;
}

